* {
  padding: 0;
  margin: 0;
}

/* In our demo, the footers are fixed to the bottom of the page */

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-basic-centered {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 25px;
  margin-top: 40px;
}

.footer-basic-centered .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

@media (max-width: 600px) {
  .footer-basic-centered {
    padding: 15px;
  }

  .footer-basic-centered .footer-company-name {
    font-size: 12px;
  }
}
